# Ignore compiled object files
*.o
*.ko
*.obj
*.elf

# Ignore executable files
*.out
*.app

# Ignore build directories
main.dSYM/
CMakeFiles/
build/
dist/
bin/

Makefile
CMakeCache.txt
cmake_install.cmake

# Ignore system and IDE files
.DS_Store
.vscode/

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.bak
*.swp